# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# Cypress screenshots and videos
/cypress/videos
/cypress/screenshots

# misc
.DS_Store
/cypress/downloads